<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TEST</title>
    <link rel="stylesheet" href="stylesheet/style.css">
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css" />
<link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet"> 
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

<script src="js/app.js"></script>

</head>
<body class="fresh" ng-app="myApp" ng-controller="testcontroller">
<div class="col-md-offset-4 col-md-4 animated fadeInDown"id="another">
    <table class="table">
          
        <h1>ADD TEST</h1>
        <tr>
            <td><input type="text" placeholder="ENTER SUBJECT" class="form-control" ng-model="subject"></td>
        </tr>
        <tr>
                <td><input type="text" placeholder="ENETR NO OF QUESTIONS" class="form-control" ng-model="question"></td>
            </tr>
            <tr>
                    <td><a href="#"class="btn btn-primary " ng-click="submit()">Submit</a></td>
                </tr>
    </table>
</div>    
</body>
</html>